@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}

:root {
    --egg: #F0EAD6;
    --nardo: #686A6C;
    --orange: #FFA500;
    --white: #ffffff;
    --beige: #F5F5DC;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--nardo);
}

.nav-bar {
    background-color: var(--orange);
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    background-color: var(--white);
    border-radius: 20px;
    color: var(--nardo);
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    transition: 600ms;
}

.nav-button:hover {
    background-color: var(--beige);
    cursor: pointer;
}

.nav-title {
    border: 5px solid var(--egg);
    border-radius: 10px;
    color: var(--white);    
    padding: 20px;
    font-size: 25px;
    font-weight: 800;
}